In [3]:
# importa biblioteca pandas
import pandas as pd

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [4]:
df=pd.read_excel(Caminho)

In [5]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [6]:
df.idade .describe()

count    426.000000
mean      34.622066
std        6.398190
min       20.000000
25%       30.000000
50%       34.000000
75%       40.000000
max       49.000000
Name: idade, dtype: float64

In [7]:
#calculando amplitude
ampl=df.idade.max()-df.idade.min()
ampl

29

In [8]:
#calculando a moda
df.idade.mode()

0    35
Name: idade, dtype: int64

In [9]:
#calculando da variÃ¢ncia
df.idade.var()

40.93682960508146

In [10]:
Min=df.idade.min()
Max=df.idade.max()
Media=df.idade.mean()
Mediana=df.idade.median()
Moda=df.idade.mode()
Var=df.idade.var()
Desvpad=df.idade.std()

In [11]:

CV=df.idade.std() / df.idade.mean()

In [12]:
CV

0.18480091878825788

In [13]:
#Calculando descritivas por RegiÃ£o de ProcedÃªncia
df.groupby(['reg_proc']) ['idade'].describe()

          count      mean       std   min   25%   50%   75%   max
reg_proc
cap       143.0  36.06993  5.550854  22.0  33.0  35.0  39.5  49.0
int       135.0  33.77037  6.004899  20.0  29.5  33.0  37.5  49.0
out       148.0  34.00000  7.254368  20.0  28.0  34.0  40.0  46.0

In [14]:
# calculando amplitude por RegiÃ£o de ProcedÃªncia

Ampl=df.groupby (['reg_proc']) ['idade'].max()-df.groupby (['reg_proc']) ['idade'].min()
Ampl

reg_proc
cap    27
int    29
out    26
Name: idade, dtype: int64

In [15]:

#calculando a variÃ¢ncia por RegiÃ£o de ProcedÃªncia
Var=df.groupby (['reg_proc']) ['idade'].var( )
Var

reg_proc
cap    30.811977
int    36.058817
out    52.625850
Name: idade, dtype: float64

In [16]:
#calculando o CV por RegiÃ£o de ProcedÃªncia
CV= df.groupby (['reg_proc']) ['idade'].std( ) / df.groupby (['reg_proc']) ['idade'].mean( )
CV

reg_proc
cap    0.153891
int    0.177816
out    0.213364
Name: idade, dtype: float64

In [17]:
#calculando a moda
Moda=df.groupby(['reg_proc'])['idade'].agg(pd.Series.mode)
Moda

reg_proc
cap          35
int    [30, 34]
out    [33, 41]
Name: idade, dtype: object