In [4]:
# importa biblioteca pandas
import pandas as pd


# importa biblioteca scipy
import scipy.stats as stats

In [5]:
# local do arquivo
Path='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [6]:
df = pd.read_excel(Path)
df.head()

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [7]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [8]:
# trazer apenas a variÃ¡vel idade para executar o teste
base_idade=df['idade']

In [9]:
# executa o teste t Testando H0: idade= 32 e H1:idade â‰  32
stats.ttest_1samp(base_idade, 32)

TtestResult(statistic=8.458459436515964, pvalue=4.4022567945723766e-16, df=425)

In [10]:
#Lembrando a mÃ©dia
df.idade.mean()

34.62206572769953

In [11]:
# executa o teste t Testando H0: idade= 34 e H1:idade â‰  34
stats.ttest_1samp(base_idade, 34)
# PARA 95% DE CONFIANÃ‡A REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=2.0067070283587505, pvalue=0.045413783138037615, df=425)

In [12]:
# executa o teste t Testando H0: idade= 35 e H1:idade â‰  35
stats.ttest_1samp(base_idade, 35)
# PARA 95% DE CONFIANÃ‡A REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=-1.2191691757198562, pvalue=0.22345620342178218, df=425)