In [5]:
# importa biblioteca pandas
import pandas as pd


# importa biblioteca scipy
import scipy.stats as stats

In [6]:
# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [7]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/fabicampanari/myenv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
#Traz o arquivo para o Python
df=pd.read_excel("/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx")

In [9]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [10]:
#Verifica a mÃ©dia de idade por grupo
df.groupby(['estado_civil'])['idade'].describe()

              count       mean       std   min   25%   50%   75%   max
estado_civil
c             244.0  35.094262  5.761670  25.0  31.0  35.0  39.0  49.0
s             182.0  33.989011  7.130968  20.0  27.0  34.0  41.0  46.0

In [11]:
solteiro=df[df.estado_civil=='s'].idade
casado=df[df.estado_civil=='c'].idade

In [12]:
# Executa o teste de Levene para verificar a igualdade das variÃ¢ncias
stats.levene(casado, solteiro)

LeveneResult(statistic=15.882848929731193, pvalue=7.932664725672226e-05)

In [13]:
# executa o teste t Testando H0: Î¼c= Î¼s   H1: Î¼c â‰  Î¼s 
stats.ttest_ind(casado,solteiro,equal_var=True)
# PARA 95% DE CONFIANÃ‡A REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=1.768126851642872, pvalue=0.07775876759104682, df=424.0)