In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca statsmodels
import statsmodels.api as sm

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [2]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [3]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [4]:
#Verifica a m√©dia de idade por grupo
df.groupby(['grau_instrucao'])['idade'].describe()

                count       mean       std   min   25%   50%   75%   max
grau_instrucao
f               120.0  35.533333  6.925696  20.0  28.0  37.0  41.0  49.0
m               203.0  34.556650  6.145955  20.0  31.0  35.0  37.0  49.0
s               103.0  33.689320  6.159687  22.0  31.0  33.0  38.0  49.0

In [5]:
#Gera o modelo para comparar idade por grau de instru√ß√£o
from statsmodels.formula.api import ols
modelo=ols('idade ~ grau_instrucao',data=df).fit()

In [6]:
#Aplica√ß√£o ANOVA Testando H0: Œºf= Œºm=Œºs   H1: Ao menos um diferente
anova=sm.stats.anova_lm(modelo)
print(anova)

                   df        sum_sq    mean_sq         F    PR(>F)
grau_instrucao    2.0    190.129141  95.064570  2.336835  0.097879
Residual        423.0  17208.023441  40.680906       NaN       NaN

In [7]:
#Teste Post Hoc de Tukey para avaliar diferen√ßas
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey=pairwise_tukeyhsd(endog=df.idade, groups=df.grau_instrucao)
tukey.summary ( )

In [8]:
#Gera o modelo para comparar idade por grau de instru√ß√£o
from statsmodels.formula.api import ols
modelo=ols('idade ~ reg_proc',data=df).fit()
#Aplica√ß√£o ANOVA Testando H0: Œºf= Œºm=Œºs   H1: Ao menos um diferente
anova=sm.stats.anova_lm(modelo)
print(anova)

             df        sum_sq     mean_sq         F    PR(>F)
reg_proc    2.0    454.970401  227.485201  5.679349  0.003682
Residual  423.0  16943.182181   40.054804       NaN       NaN

In [9]:
#Verifica a m√©dia de idade por grupo
df.groupby(['reg_proc'])['idade'].describe()

          count      mean       std   min   25%   50%   75%   max
reg_proc
cap       143.0  36.06993  5.550854  22.0  33.0  35.0  39.5  49.0
int       135.0  33.77037  6.004899  20.0  29.5  33.0  37.5  49.0
out       148.0  34.00000  7.254368  20.0  28.0  34.0  40.0  46.0

In [10]:
#Teste Post Hoc de Tukey para avaliar diferen√ßas
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey=pairwise_tukeyhsd(endog=df.idade, groups=df.reg_proc)
tukey.summary ( )