In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca statsmodels
import statsmodels.api as sm

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [2]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [3]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [4]:
#Verifica a m√©dia de idade por grau de instru√ß√£o
df.groupby(['grau_instrucao'])['idade'].describe()

                count       mean       std   min   25%   50%   75%   max
grau_instrucao
f               120.0  35.533333  6.925696  20.0  28.0  37.0  41.0  49.0
m               203.0  34.556650  6.145955  20.0  31.0  35.0  37.0  49.0
s               103.0  33.689320  6.159687  22.0  31.0  33.0  38.0  49.0

In [5]:
#Verifica a m√©dia de idade por estado_civil
df.groupby(['estado_civil'])['idade'].describe()

              count       mean       std   min   25%   50%   75%   max
estado_civil
c             244.0  35.094262  5.761670  25.0  31.0  35.0  39.0  49.0
s             182.0  33.989011  7.130968  20.0  27.0  34.0  41.0  46.0

In [6]:
#Gera o modelo para comparar idade por grau de instru√ß√£o e regi√£o
from statsmodels.formula.api import ols
modelo=ols('idade ~ grau_instrucao + estado_civil + grau_instrucao:estado_civil ',data=df).fit()

In [7]:
#Aplica√ß√£o ANOVA Testando H0: Œºf= Œºm=Œºs   H1: Ao menos um diferente 
#H0: Œºc= Œºs   H1: Ao menos um diferente

anova=sm.stats.anova_lm(modelo)
print(anova)

                                df        sum_sq     mean_sq         F  \
grau_instrucao                 2.0    190.129141   95.064570  2.385647
estado_civil                   1.0    151.018755  151.018755  3.789819
grau_instrucao:estado_civil    2.0    320.616846  160.308423  4.022943
Residual                     420.0  16736.387841   39.848542       NaN

                               PR(>F)
grau_instrucao               0.093275
estado_civil                 0.052232
grau_instrucao:estado_civil  0.018594
Residual                          NaN

In [8]:
#Teste Post Hoc de Tukey para avaliar diferen√ßas no estado civil
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey=pairwise_tukeyhsd(endog=df.idade, groups=df.estado_civil)
tukey.summary ( )

In [9]:

#Teste Post Hoc de Tukey para avaliar diferen√ßas no grau de instru√ß√£o
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey=pairwise_tukeyhsd(endog=df.idade, groups=df.grau_instrucao)
tukey.summary ( )