In [1]:

# importa biblioteca pandas
import pandas as pd

# importa biblioteca scipy
import scipy.stats as stats

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./Dataset/cadastro_funcionarios.xlsx'

In [2]:

 #Traz o arquivo para o Python
df=pd.read_excel(Caminho)

df.head()

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [3]:
#Tabela cruzada reg_proc x estado_civil
freq_cruz = df.groupby(['reg_proc', 'estado_civil']).size().unstack(1)
freq_cruz.head()

estado_civil   c   s
reg_proc
cap           91  52
int           93  42
out           60  88

In [4]:
#Teste Chi-Quadrado
stats.chi2_contingency(freq_cruz)

#primeira linha valor da estat√≠stica
#segunda linha p-value (testar menor ou maior que 0.05)
#terceira linha graus de liberdade
#array tabela 'desej√°vel' para o teste n√£o acusar diferen√ßa alguma entre as popula√ß√µes

Chi2ContingencyResult(statistic=26.743326943326952, pvalue=1.5586921220195544e-06, dof=2, expected_freq=array([[81.90610329, 61.09389671],
       [77.32394366, 57.67605634],
       [84.76995305, 63.23004695]]))