# Fa√ßa a an√°lise descritiva da vari√°vel SALARIO, para a base como um todo e considerando o Grau de Instru√ß√£o

In [40]:
# importa biblioteca pandas
import pandas as pd

# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [41]:
df=pd.read_excel(Caminho)

In [42]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [43]:
# gera estat√≠sticas descritivas da coluna "idade" do DataFrame d
df.idade.describe()

count    426.000000
mean      34.622066
std        6.398190
min       20.000000
25%       30.000000
50%       34.000000
75%       40.000000
max       49.000000
Name: idade, dtype: float64

In [44]:
#calculando amplitude (determina a diferen√ßa entre o valor m√°ximo e o valor m√≠nimo de uma s√©rie de dados,
#  fornecendo uma medida simples da dispers√£o dos dados.)
ampl=df.idade.max()-df.idade.min()
ampl

29

In [45]:
#calculando a moda (identificar o valor que ocorre com maior frequ√™ncia em uma s√©rie de dados, sendo uma 
# medida de tend√™ncia central que indica o valor mais comum.)
df.idade.mode()

0    35
Name: idade, dtype: int64

In [46]:
#calculando da vari√¢ncia (mede a dispers√£o dos dados em rela√ß√£o √† m√©dia, indicando o quanto os valores de uma s√©rie 
# de dados variam em torno da m√©dia. Uma vari√¢ncia alta indica que os dados est√£o amplamente espalhados,
#  enquanto uma vari√¢ncia baixa indica que os dados est√£o mais pr√≥ximos da m√©dia.)
df.idade.var()

40.93682960508146

In [47]:
# Calcula o valor m√≠nimo da coluna 'idade' e armazena na vari√°vel Min
Min = df.idade.min()

# Calcula o valor m√°ximo da coluna 'idade' e armazena na vari√°vel Max
Max = df.idade.max()

# Calcula a m√©dia (valor m√©dio) da coluna 'idade' e armazena na vari√°vel Media
Media = df.idade.mean()

# Calcula a mediana (valor central) da coluna 'idade' e armazena na vari√°vel Mediana
Mediana = df.idade.median()

# Calcula a moda (valor mais frequente) da coluna 'idade' e armazena na vari√°vel Moda
Moda = df.idade.mode()

# Calcula a vari√¢ncia (medida de dispers√£o) da coluna 'idade' e armazena na vari√°vel Var
Var = df.idade.var()

# Calcula o desvio padr√£o (medida de dispers√£o) da coluna 'idade' e armazena na vari√°vel Desvpad
Desvpad = df.idade.std()

In [48]:
#calculado como a raz√£o do desvio padr√£o pela m√©dia.
CV=df.idade.std() / df.idade.mean()
CV

0.18480091878825788

In [49]:
#Calculando descritivas por Regi√£o de Proced√™ncia
df.groupby(['reg_proc']) ['idade'].describe()

          count      mean       std   min   25%   50%   75%   max
reg_proc
cap       143.0  36.06993  5.550854  22.0  33.0  35.0  39.5  49.0
int       135.0  33.77037  6.004899  20.0  29.5  33.0  37.5  49.0
out       148.0  34.00000  7.254368  20.0  28.0  34.0  40.0  46.0

In [50]:
# calculando amplitude por Regi√£o de Proced√™ncia

Ampl=df.groupby (['reg_proc']) ['idade'].max()-df.groupby (['reg_proc']) ['idade'].min()
Ampl

reg_proc
cap    27
int    29
out    26
Name: idade, dtype: int64

In [51]:
#calculando a vari√¢ncia por Regi√£o de Proced√™ncia
Var=df.groupby (['reg_proc']) ['idade'].var( )
Var

reg_proc
cap    30.811977
int    36.058817
out    52.625850
Name: idade, dtype: float64

In [52]:
#calculando o CV por Regi√£o de Proced√™ncia
CV= df.groupby (['reg_proc']) ['idade'].std( ) / df.groupby (['reg_proc']) ['idade'].mean( )
CV

reg_proc
cap    0.153891
int    0.177816
out    0.213364
Name: idade, dtype: float64

In [53]:
#calculando a moda
Moda=df.groupby(['reg_proc'])['idade'].agg(pd.Series.mode)
Moda

reg_proc
cap          35
int    [30, 34]
out    [33, 41]
Name: idade, dtype: object

# An√°lise Descritiva da Vari√°vel SALARIO para a Base como um Todo

In [54]:
# Importar as bibliotecas necess√°rias e carregar o dataset:
import pandas as pd

# Local do arquivo
Caminho = '/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'
df = pd.read_excel(Caminho)

In [55]:
# Descrever a vari√°vel SALARIO:
df.salario.describe()

count    426.000000
mean      11.080657
std        4.215989
min        4.000000
25%        7.650000
50%       10.400000
75%       13.900000
max       23.900000
Name: salario, dtype: float64

In [56]:
# Calcular a amplitude
ampl = df['salario'].max() - df['salario'].min()
ampl

19.9

In [57]:
# outra forma de Calcular a amplitude
ampl=df.salario.max()-df.salario.min()
ampl

19.9

In [58]:
# Calcular a moda:
df.salario.mode()

0     9.8
1    13.6
Name: salario, dtype: float64

In [59]:
#calculando da vari√¢ncia
df.salario.var()

17.774563802264566

In [60]:
# Calcular o coeficiente de varia√ß√£o (CV):
cv = df['salario'].std() / df['salario'].mean()
cv

0.3804818577389044

### An√°lise Descritiva da Vari√°vel SALARIO Considerando o Grau de Instru√ß√£o

In [61]:
#Calculando descritivas por grau_instrucao
df.groupby(["grau_instrucao"]) ['salario'].describe()

,count,mean,std,min,25%,50%,75%,max
grau_instrucao,,,,,,,,
f,120.0,7.922667,2.802770,4.00,6.2475,7.365,8.995,14.7
m,203.0,11.208522,3.785457,4.43,8.2600,10.500,13.850,23.9
s,103.0,14.507864,3.590439,7.60,11.3500,14.550,17.260,23.5

In [62]:
#calculando a moda
Moda=df.groupby(['grau_instrucao'])['salario'].agg(lambda x: pd.Series.mode(x)[0]) # Using a lambda function to extract the first mode
Moda

grau_instrucao
f     6.26
m    13.60
s    18.75
Name: salario, dtype: float64

In [63]:
Ampl=df.groupby (['grau_instrucao']) ['salario'].max()-df.groupby (['grau_instrucao']) ['salario'].min()
Ampl

grau_instrucao
f    10.70
m    19.47
s    15.90
Name: salario, dtype: float64

In [64]:
#calculando a vari√¢ncia por salario
Var=df.groupby (['grau_instrucao']) ['salario'].var( )
Var

grau_instrucao
f     7.855517
m    14.329684
s    12.891250
Name: salario, dtype: float64

In [65]:
#calculando o CV por salario
CV= df.groupby (['grau_instrucao']) ['salario'].std( ) / df.groupby (['grau_instrucao']) ['salario'].mean( )
CV

grau_instrucao
f    0.353766
m    0.337730
s    0.247482
Name: salario, dtype: float64

In [66]:
#calculando a moda
Moda=df.groupby(['grau_instrucao'])['salario'].agg(lambda x: pd.Series.mode(x)[0]) # Using a lambda function to extract the first mode
Moda

grau_instrucao
f     6.26
m    13.60
s    18.75
Name: salario, dtype: float64

# ADICIONAL Outra forma de Apresentar uma an√°lise descritiva da vari√°vel SALARIO tanto para a base como um todo quanto considerando o grau_instrucao.

### 1. Importa√ß√£o das Bibliotecas Necess√°rias:

In [67]:
import pandas as pd

### 2. Carregamento do Dataset:

In [68]:
Caminho = '/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'
df = pd.read_excel(Caminho)

### 3. Estat√≠sticas Descritivas para a Vari√°vel SALARIO para a Base como um Todo:

In [69]:
estatisticas_salario = df['salario'].describe()
print("Estat√≠sticas descritivas para SALARIO (base como um todo):")
print(estatisticas_salario)

Estat√≠sticas descritivas para SALARIO (base como um todo):
count    426.000000
mean      11.080657
std        4.215989
min        4.000000
25%        7.650000
50%       10.400000
75%       13.900000
max       23.900000
Name: salario, dtype: float64

### 4. C√°lculo da Amplitude:

In [70]:
amplitude_salario = df['salario'].max() - df['salario'].min()
print("\nAmplitude de SALARIO (base como um todo):", amplitude_salario)

Amplitude de SALARIO (base como um todo): 19.9

### 5. C√°lculo da Moda:

In [71]:
moda_salario = df['salario'].mode()[0]
print("\nModa de SALARIO (base como um todo):", moda_salario)

Moda de SALARIO (base como um todo): 9.8

### 6. C√°lculo da Vari√¢ncia:

In [72]:
variancia_salario = df['salario'].var()
print("\nVari√¢ncia de SALARIO (base como um todo):", variancia_salario)

Vari√¢ncia de SALARIO (base como um todo): 17.774563802264566

### 7. C√°lculo do Coeficiente de Varia√ß√£o (CV):

In [73]:
cv_salario = df['salario'].std() / df['salario'].mean()
print("\nCoeficiente de varia√ß√£o de SALARIO (base como um todo):", cv_salario)

Coeficiente de varia√ß√£o de SALARIO (base como um todo): 0.3804818577389044

### 8. Estat√≠sticas Descritivas para a Vari√°vel SALARIO Considerando o Grau de Instru√ß√£o:

In [74]:
estatisticas_salario_grau_instrucao = df.groupby('grau_instrucao')['salario'].describe()
print("\nEstat√≠sticas descritivas para SALARIO considerando grau_instrucao:")
print(estatisticas_salario_grau_instrucao)

Estat√≠sticas descritivas para SALARIO considerando grau_instrucao:
                count       mean       std   min      25%     50%     75%  \
grau_instrucao
f               120.0   7.922667  2.802770  4.00   6.2475   7.365   8.995
m               203.0  11.208522  3.785457  4.43   8.2600  10.500  13.850
s               103.0  14.507864  3.590439  7.60  11.3500  14.550  17.260

                 max
grau_instrucao
f               14.7
m               23.9
s               23.5

### 9. C√°lculo da Amplitude por Grau de Instru√ß√£o:

In [75]:
amplitude_salario_grau_instrucao = df.groupby('grau_instrucao')['salario'].max() - df.groupby('grau_instrucao')['salario'].min()
print("\nAmplitude de SALARIO por grau_instrucao:")
print(amplitude_salario_grau_instrucao)

Amplitude de SALARIO por grau_instrucao:
grau_instrucao
f    10.70
m    19.47
s    15.90
Name: salario, dtype: float64

### 10. C√°lculo da Moda por Grau de Instru√ß√£o:

In [76]:
moda_salario_grau_instrucao = df.groupby('grau_instrucao')['salario'].agg(lambda x: pd.Series.mode(x)[0])
print("\nModa de SALARIO por grau_instrucao:")
print(moda_salario_grau_instrucao)

Moda de SALARIO por grau_instrucao:
grau_instrucao
f     6.26
m    13.60
s    18.75
Name: salario, dtype: float64

### 11. C√°lculo da Vari√¢ncia por Grau de Instru√ß√£o:

In [77]:
variancia_salario_grau_instrucao = df.groupby('grau_instrucao')['salario'].var()
print("\nVari√¢ncia de SALARIO por grau_instrucao:")
print(variancia_salario_grau_instrucao)

Vari√¢ncia de SALARIO por grau_instrucao:
grau_instrucao
f     7.855517
m    14.329684
s    12.891250
Name: salario, dtype: float64

### 12. C√°lculo do Coeficiente de Varia√ß√£o (CV) por Grau de Instru√ß√£o:

In [78]:
cv_salario_grau_instrucao = df.groupby('grau_instrucao')['salario'].std() / df.groupby('grau_instrucao')['salario'].mean()
print("\nCoeficiente de varia√ß√£o de SALARIO por grau_instrucao:")
print(cv_salario_grau_instrucao)

Coeficiente de varia√ß√£o de SALARIO por grau_instrucao:
grau_instrucao
f    0.353766
m    0.337730
s    0.247482
Name: salario, dtype: float64

## Interpreta√ßao dos Dados da An√°lise Descritiva da Vari√°vel SALARIO

### 1- Para a Base como um Todo:

. *Estat√≠sticas Descritivas:*

| Estat√≠stica | Valor |
|-------------|-------|
| count       | 426.000000 |
| mean        | 11.080657 |
| std         | 4.215989 |
| min         | 4.000000 |
| 25%         | 7.650000 |
| 50%         | 10.400000 |
| 75%         | 13.900000 |
| max         | 23.900000 |
| Name        | salario |
| dtype       | float64 |

**Contagem (count):** 426  
**M√©dia (mean):** 11.08  
**Desvio Padr√£o (std):** 4.22  
**M√≠nimo (min):** 4.00  
**1¬∫ Quartil (25%):** 7.65  
**Mediana (50%):** 10.40  
**3¬∫ Quartil (75%):** 13.90  
**M√°ximo (max):** 23.90

. *Amplitude:*
19.9

. *Vari√¢ncia:*
17.774563802264566

. *Coeficiente de Varia√ß√£o (CV):*
0.3804818577389044

### 2- Considerando o Grau de Instru√ß√£o:

. *Estat√≠sticas Descritivas:*

                            count       mean       std   min      25%     50%     75%    max
            grau_instrucao                                                             
            f               120.0   7.922667  2.802770  4.00   6.2475   7.365   8.995   14.7
            m               203.0  11.208522  3.785457  4.43   8.2600  10.500  13.850   23.9
            s               103.0  14.507864  3.590439  7.60  11.3500  14.550  17.260   23.5

## Conclus√£o An√°lise Descritiva da Vari√°vel SALARIO

A an√°lise descritiva da vari√°vel SALARIO mostra que, em geral, os sal√°rios variam significativamente com o grau de instru√ß√£o. A m√©dia e a vari√¢ncia dos sal√°rios aumentam com o n√≠vel de instru√ß√£o, indicando que pessoas com maior grau de instru√ß√£o tendem a ter sal√°rios mais altos e uma maior dispers√£o nos sal√°rios.

### 1. Para a Base como um Todo:

#### Estat√≠sticas Descritivas:

| Estat√≠stica | Valor       |
|-------------|-------------|
| count       | 426.000000  |
| mean        | 11.080657   |
| std         | 4.215989    |
| min         | 4.000000    |
| 25%         | 7.650000    |
| 50%         | 10.400000   |
| 75%         | 13.900000   |
| max         | 23.900000   |

#### Amplitude:
19.9

#### Vari√¢ncia:
17.774563802264566

#### Coeficiente de Varia√ß√£o (CV):
0.3804818577389044

### 2. Considerando o Grau de Instru√ß√£o:

#### Estat√≠sticas Descritivas:

| Grau de Instru√ß√£o | count | mean      | std      | min  | 25%    | 50%    | 75%    | max  |
|-------------------|-------|-----------|----------|------|--------|--------|--------|------|
| Fundamental (f)   | 120.0 | 7.922667  | 2.802770 | 4.00 | 6.2475 | 7.365  | 8.995  | 14.7 |
| M√©dio (m)         | 203.0 | 11.208522 | 3.785457 | 4.43 | 8.2600 | 10.500 | 13.850 | 23.9 |
| Superior (s)      | 103.0 | 14.507864 | 3.590439 | 7.60 | 11.3500| 14.550 | 17.260 | 23.5 |

#### Amplitude por Grau de Instru√ß√£o:

| Grau de Instru√ß√£o | Amplitude |
|-------------------|-----------|
| Fundamental (f)   | 10.70     |
| M√©dio (m)         | 19.47     |
| Superior (s)      | 15.90     |

#### Moda por Grau de Instru√ß√£o:

| Grau de Instru√ß√£o | Moda  |
|-------------------|-------|
| Fundamental (f)   | 6.26  |
| M√©dio (m)         | 13.60 |
| Superior (s)      | 18.75 |

#### Vari√¢ncia por Grau de Instru√ß√£o:

| Grau de Instru√ß√£o | Vari√¢ncia |
|-------------------|-----------|
| Fundamental (f)   | 7.855517  |
| M√©dio (m)         | 14.329684 |
| Superior (s)      | 12.891250 |

#### Coeficiente de Varia√ß√£o (CV) por Grau de Instru√ß√£o:

| Grau de Instru√ß√£o | CV       |
|-------------------|----------|
| Fundamental (f)   | 0.353766 |
| M√©dio (m)         | 0.337730 |
| Superior (s)      | 0.247482 |