# Exerc√≠cio 3‚Äì Teste a hip√≥tese do sal√°rio ser igual a 12. Qual sua conclus√£o?

In [1]:
# importa biblioteca pandas
import pandas as pd


# importa biblioteca scipy
import scipy.stats as stats

In [2]:
# local do arquivo
Caminho='/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [3]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [4]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [5]:
# trazer apenas a vari√°vel idade para executar o teste
base_idade=df['idade']

In [6]:
# executa o teste t Testando H0: idade= 32 e H1:idade ‚â† 32
stats.ttest_1samp(base_idade, 32)

TtestResult(statistic=8.458459436515964, pvalue=4.4022567945723766e-16, df=425)

In [7]:
p_value = 4.4022567945723766e-16
alpha = 0.05

if p_value < alpha:
    print("Rejeitamos a hip√≥tese nula (H0).")
else:
    print("N√£o rejeitamos a hip√≥tese nula (H0).")

Rejeitamos a hip√≥tese nula (H0).

In [8]:
#Lembrando a m√©dia
df.idade.mean()

34.62206572769953

In [9]:
# executa o teste t Testando H0: idade= 34 e H1:idade ‚â† 34
stats.ttest_1samp(base_idade, 34)
# PARA 95% DE CONFIAN√áA REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=2.0067070283587505, pvalue=0.045413783138037615, df=425)

# Adicional

In [10]:
# Definir o n√≠vel de signific√¢ncia
alpha = 0.05

# Valor-p do teste t
p_value = 0.045413783138037615

# Decidir se rejeitamos ou n√£o a hip√≥tese nula
if p_value < alpha:
    print("Rejeitamos a hip√≥tese nula (H0).")
else:
    print("N√£o rejeitamos a hip√≥tese nula (H0).")

Rejeitamos a hip√≥tese nula (H0).

## Com um valor-p de 0.045, que √© menor que o n√≠vel de signific√¢ncia de 0.05, rejeitamos a hip√≥tese nula. Isso indica que h√° evid√™ncias estatisticamente significativas para sugerir que a idade m√©dia dos funcion√°rios √© diferente de 34.

In [11]:
# executa o teste t Testando H0: idade= 35 e H1:idade ‚â† 35
stats.ttest_1samp(base_idade, 35)
# PARA 95% DE CONFIAN√áA REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=-1.2191691757198562, pvalue=0.22345620342178218, df=425)

In [12]:
# Definir o n√≠vel de signific√¢ncia
alpha = 0.05

# Valor-p do teste t
p_value = 0.22345620342178218

# Decidir se rejeitamos ou n√£o a hip√≥tese nula
if p_value < alpha:
    print("Rejeitamos a hip√≥tese nula (H0).")
else:
    print("N√£o rejeitamos a hip√≥tese nula (H0).")

N√£o rejeitamos a hip√≥tese nula (H0).

### Com um valor-p de 0.2234, que √© maior que o n√≠vel de signific√¢ncia de 0.05, n√£o rejeitamos a hip√≥tese nula. Isso significa que n√£o h√° evid√™ncias suficientes para concluir que a idade m√©dia dos funcion√°rios √© diferente do valor hipotetizado (32, 35 ou qualquer outro valor que estava sendo testado)

### Repondendo a questao 3

### Teste a hip√≥tese do sal√°rio ser igual a 12. Qual sua conclus√£o?

In [13]:
import pandas as pd
import scipy.stats as stats

In [14]:
# Local do arquivo
Caminho = '/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1üáßüá∑-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [15]:
# Carregar os dados
df = pd.read_excel(Caminho)

In [16]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [17]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [18]:
# Selecionar a vari√°vel de interesse (sal√°rio)
salarios = df['salario']

In [19]:
# Executar o teste t Testando H0: salario = 12 e H1: salario ‚â† 12
resultado_teste = stats.ttest_1samp(salarios, 12)
resultado_teste

TtestResult(statistic=-4.500727991746298, pvalue=8.755117588192511e-06, df=425)

In [20]:
# Obter o valor-p do resultado do teste
p_value = resultado_teste.pvalue
p_value

8.755117588192511e-06

In [21]:
# Definir o n√≠vel de signific√¢ncia
alpha = 0.05

In [22]:
# Interpretar o resultado
p_value = 8.755117588192511e-06
alpha = 0.05

if p_value < alpha:
    print("Rejeitamos a hip√≥tese nula (H0).")
else:
    print("N√£o rejeitamos a hip√≥tese nula (H0).")

Rejeitamos a hip√≥tese nula (H0).

In [23]:
# Definir a conclus√£o com base no valor-p e no n√≠vel de signific√¢ncia
if p_value < alpha:
    conclusao = "Rejeitamos a hip√≥tese nula (H0)."
else:
    conclusao = "N√£o rejeitamos a hip√≥tese nula (H0)."

# Exibir o resultado do teste e a conclus√£o
print(f"Estat√≠stica do teste t: {resultado_teste.statistic}")
print(f"Valor-p: {resultado_teste.pvalue}")
print(conclusao)

Estat√≠stica do teste t: -4.500727991746298
Valor-p: 8.755117588192511e-06
Rejeitamos a hip√≥tese nula (H0).

### An√°lise e Conclus√£o com bano valor-p e no n√≠vel de signific√¢ncia

No teste de hip√≥tese realizado, testamos a hip√≥tese nula (H0) de que o sal√°rio m√©dio dos funcion√°rios √© igual a 12 contra a hip√≥tese alternativa (H1) de que o sal√°rio m√©dio dos funcion√°rios √© diferente de 12.

Os resultados do teste t foram os seguintes:
- Estat√≠stica do teste t: -4.500727991746298
- Valor-p: 8.755117588192511e-06

Com um valor-p de aproximadamente 8.76e-06, que √© significativamente menor que o n√≠vel de signific√¢ncia de 0.05, rejeitamos a hip√≥tese nula (H0). Isso indica que h√° evid√™ncias estatisticamente significativas para sugerir que o sal√°rio m√©dio dos funcion√°rios √© diferente de 12.

Portanto, a conclus√£o do teste √© que rejeitamos a hip√≥tese nula (H0) e aceitamos a hip√≥tese alternativa (H1), indicando que o sal√°rio m√©dio dos funcion√°rios n√£o √© igual a 12.