## Teste a hipÃ³tese de a renda ser igual para os dois estados civis. Qual sua conclusÃ£o?

In [1]:
# importa biblioteca pandas
import pandas as pd

# importa biblioteca scipy
import scipy.stats as stats

In [2]:
# local do arquivo
Caminho = '/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'

In [3]:
#Traz o arquivo para o Python
df=pd.read_excel(Caminho)

In [4]:
df.head( )

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [5]:
#Verifica a mÃ©dia de idade por grupo
df.groupby(['estado_civil'])['idade'].describe()

              count       mean       std   min   25%   50%   75%   max
estado_civil
c             244.0  35.094262  5.761670  25.0  31.0  35.0  39.0  49.0
s             182.0  33.989011  7.130968  20.0  27.0  34.0  41.0  46.0

In [6]:
solteiro=df[df.estado_civil=='s'].idade
casado=df[df.estado_civil=='c'].idade

In [7]:
# Executa o teste de Levene para verificar a igualdade das variÃ¢ncias
stats.levene(casado, solteiro)

LeveneResult(statistic=15.882848929731193, pvalue=7.932664725672226e-05)

In [8]:
# executa o teste t Testando H0: Î¼c= Î¼s   H1: Î¼c â‰  Î¼s
stats.ttest_ind(casado,solteiro,equal_var=False)
# PARA 95% DE CONFIANÃ‡A REJEITO H0 SE PVALUE < 0.05

TtestResult(statistic=1.7147489742062125, pvalue=0.08730214339336337, df=340.12128870439)

In [9]:
#pvalue = 0,087 maoir que 0,05 aceito a hipotese de igualdade

In [10]:
df.groupby(['estado_civil'])['salario'].describe()

              count       mean       std  min   25%    50%    75%   max
estado_civil
c             244.0  11.854303  4.340324  4.0  8.49  11.14  14.71  23.9
s             182.0  10.043462  3.815224  4.0  7.24   9.20  11.79  18.9

In [11]:
solteiro=df[df.estado_civil=='s'].salario
casado=df[df.estado_civil=='c'].salario

In [12]:
# executa o teste t Testando H0: Î¼c= Î¼s   H1: Î¼c â‰  Î¼s
stats.ttest_ind(casado,solteiro,equal_var=False)
# PARA 95% DE CONFIANÃ‡A REJEITO H0 SE PVALUE < 0.05
#rejeitado

TtestResult(statistic=4.567472731259726, pvalue=6.527014259249644e-06, df=412.678015786978)

### Questao 4

#### Para testar a hipÃ³tese de que a renda Ã© igual para os dois estados civis (solteiro e casado), podemos usar o teste t para duas amostras independentes. Vamos seguir os seguintes passos:
### VisualizaÃ§Ã£o

#### 1. Extrair os dados de renda para solteiros e casados.
#### 2. Realizar o teste t para duas amostras independentes.
#### 3. Interpretar o valor p para aceitar ou rejeitar a hipÃ³tese nula.

### Passos em pseudocÃ³digo:

1. **Importar bibliotecas necessÃ¡rias** (pandas e scipy.stats).
2. **Carregar os dados do arquivo Excel**.
3. **Extrair as colunas de renda para solteiros e casados**.
4. **Realizar o teste t para duas amostras independentes**.
5. **Interpretar o resultado com base no valor p**.

In [13]:
# Instalar scipy
%pip install scipy pandas

Requirement already satisfied: scipy in /Users/fabicampanari/myenv/lib/python3.12/site-packages (1.14.1)
Requirement already satisfied: pandas in /Users/fabicampanari/myenv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy<2.3,>=1.23.5 in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from scipy) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/fabicampanari/myenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
from scipy import stats

In [15]:
# Carregar os dados do arquivo Excel
Caminho = '/Users/fabicampanari/Desktop/_8-Prova Matematematica/1-statiscalMeasures_ Hypothesis Testing II./1ðŸ‡§ðŸ‡·-statiscalMeasures_ Hypothesis Testing II./answeredCodes_statiscalMeasures/cadastro_funcionarios.xlsx'
df = pd.read_excel(Caminho)

In [16]:
# Visualizar as primeiras linhas do DataFrame
print(df.head())

   ID estado_civil grau_instrucao  n_filhos  salario  idade reg_proc
0   1            s              f         0     4.00     26      int
1   2            c              f         1     4.56     32      cap
2   3            c              f         2     5.25     36      cap
3   4            s              m         0     5.73     20      out
4   5            s              f         0     6.26     40      out

In [17]:
# Verificar a mÃ©dia de salÃ¡rio por grupo de estado civil
print(df.groupby(['estado_civil'])['salario'].describe())

              count       mean       std  min   25%    50%    75%   max
estado_civil
c             244.0  11.854303  4.340324  4.0  8.49  11.14  14.71  23.9
s             182.0  10.043462  3.815224  4.0  7.24   9.20  11.79  18.9

In [18]:
# Extrair as colunas de renda para solteiros e casados
solteiro = df[df['estado_civil'] == 's']['salario']
casado = df[df['estado_civil'] == 'c']['salario']
casado

1       4.56
2       5.25
5       6.66
8       7.59
10      8.12
       ...
420    17.80
422    19.30
423    23.50
424    23.90
425    21.40
Name: salario, Length: 244, dtype: float64

In [19]:
# Realizar o teste t para duas amostras independentes
t_stat, p_value = stats.ttest_ind(casado, solteiro, equal_var=False)

In [20]:
# Exibir os resultados do teste t
print("Resultados do Teste t:")
print(f"EstatÃ­stica t: {t_stat}")
print(f"Valor p: {p_value}")

Resultados do Teste t:
EstatÃ­stica t: 4.567472731259726
Valor p: 6.527014259249644e-06

In [21]:
# Interpretar o resultado
alpha = 0.05
if p_value < alpha:
    print("ConclusÃ£o: Rejeitamos a hipÃ³tese nula. As rendas sÃ£o diferentes para os dois estados civis.")
else:
    print("ConclusÃ£o: NÃ£o rejeitamos a hipÃ³tese nula. As rendas sÃ£o iguais para os dois estados civis.")

ConclusÃ£o: Rejeitamos a hipÃ³tese nula. As rendas sÃ£o diferentes para os dois estados civis.

### ConclusÃ£o Resultados do Teste t:

#### InterpretaÃ§Ã£o:
 - EstatÃ­stica t: 4.567472731259726 <br>
 - Valor p: 6.527014259249644e-06


O valor p Ã© extremamente pequeno (6.527014259249644e-06), muito menor que o nÃ­vel de significÃ¢ncia comum (0.05). Isso indica que hÃ¡ uma diferenÃ§a significativa nas rendas entre os dois estados civis.

ConclusÃ£o:

Rejeitamos a hipÃ³tese nula. As rendas sÃ£o diferentes para os dois estados civis (solteiro e casado).